$darkColor1: #121212;
$lightColor1: #ffd715;
$lightColor2: rgb(5, 159, 185);
$lightColor3: #674235;
$white: #ffffff;
$black: #000000;

@font-face {
  src: url("/assets/fonts/coolvetica.ttf");
  font-family: coolvetica;
}

@font-face {
  src: url("/assets/fonts/helvetica.ttf");
  font-family: helvetica;
}

@font-face {
  src: url("/assets/fonts/Lato-Regular.ttf");
  font-family: lato;
}

@mixin translateY($e) {
  -webkit-transform: translateY($e);
  -moz-transform: translateY($e);
  transform: translateY($e);
}

@mixin transition($e) {
  -webkit-transition: $e;
  -moz-transition: $e;
  transition: $e;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/*Wb-styling-start*/

.wb-font-custom {
  color: $lightColor1;
}

.wb-custom {
  background: $lightColor2;
}

small {
  font-weight: 400;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 4px;
}

.wb-item {
  margin: 1rem;
  box-shadow: 0.3rem 0.4rem 0.4rem rgba(0, 0, 0, 0.4);
  overflow: hidden;

  img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 400ms ease-out;
  }

  img:hover {
    transform: scale(1.15);
  }
}

@media screen and (min-width: 991px) {
  .wb-item {
    width: calc(100% / 1 - 2rem);
  }
}

/*Wb-styling-ends*/

body,
html {
  height: 100%;
  margin: 0;
  font-size: 16px;
  font-family: helvetica, sans-serif;
  font-weight: 400;
  line-height: 1.6em;
  background: $lightColor2;
  color: $white;
}

/* navigation styles starts here */

/* navigation styles ends here */

/* home-page styles starts here */

.home-page {
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  h1 {
    color: $lightColor1;
    font-family: coolvetica, sans-serif;
    font-size: 50px;
    line-height: 70px;
  }

  /*
  h4 {
    color: $white;
    font-size: 26px;
    font-weight: 100;
  }

  p {
    color: $white;
    font-size: 1.25rem;
    line-height: 1.5;
  }
  */
}

.about-section {
  padding: 80px 0;
  background: $darkColor1;

  p {
    color: $white;
    font-size: 1.25rem;
    line-height: 1.5;
  }

  .heading-title {
    text-align: left;
    margin-bottom: 0;

    small {
      line-height: 64px;
    }
  }
}

.speciality-section {
  text-align: center;
  padding: 115px 0px 100px;

  h2 {
    color: $white;
  }

  .content {
    max-width: 610px;
    margin: 0 auto;
    padding: 0 20px;

    p {
      color: $white;
      font-size: 1.25rem;
      line-height: 1.5;
    }
  }
}

.banner1 {
  height: 40vh;
  position: relative;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

/* home-page styles ends here */

/* footer styles starts here */

footer {
  background: $darkColor1;
  padding-top: 64px;

  .nav-link {
    display: inline;
    padding: 0;
  }

  .footer-top {
    padding: 30px 0 30px 0;
  }

  .heading-title {
    color: $white;
    padding-bottom: 30px;
  }

  .wb-contact {
    img {
      display: inline-block;
      height: 45px;
      font-size: 20px;
      text-align: center;
      line-height: 35px;
    }

    .mb-icon {
      border-radius: 5px;
    }

    .mm-icon {
      border-radius: 12px;
    }
  }

  .contact-details {
    color: $white;
    padding: 30px 0;
  }

  .address-details {
    color: $white;
    padding: 30px 0;
  }

  .social-media {
    padding-bottom: 40px;

    img {
      display: inline-block;
      width: 45px;
      height: 45px;
      cursor: pointer;
      font-size: 20px;
      text-align: center;
      line-height: 35px;
      margin-right: 20px;
      margin-bottom: 5px;
    }

    .fb-icon {
      border-radius: 5px;
      margin-bottom: 32px;
    }

    .in-icon {
      border-radius: 12px;
      margin-bottom: 32px;
    }
  }

  .footer-bottom {
    padding: 15px 20px;
    background: #232323;

    .copyright-text {
      color: $white;
    }
  }
}

/* footer styles ends here */

.about-page {
  .about-title {
    background-size: cover;
    background-position: center;
    height: 62vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    h2 {
      font-size: 32px;
      line-height: 42px;
      font-weight: bold;
    }
  }
}

.story-content {
  max-width: 800px;
  margin: 60px auto;
  padding: 0 20px;

  h3 {
    text-align: center;
  }

  p {
    margin: 2rem 0;
    font-size: 1.25rem;
    line-height: 1.7;
  }
}

.menu-page {
  .menu-title {
    background-size: cover;
    background-position: bottom;
    height: 62vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    h2 {
      font-size: 32px;
      line-height: 42px;
      font-weight: bold;
    }
  }
}

.menu {
  padding: 10px 0;
  background: $lightColor2;

  .container {
    margin: 0 auto;
    max-width: 1200px;
    padding: 0 1rem;

    .menu-item {
      margin: 1rem;
      overflow: hidden;

      img {
        display: block;
        width: 100%;
        object-fit: cover;
      }

      .responsive-image {
        max-width: 100%;
      }

      .menu-content-text {
        padding-top: 0.5rem;

        p {
          font-size: 1.25rem;
          line-height: 1.5;
        }
      }
    }

    @media screen and (min-width: 600px) {
      .menu-content {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;

        .menu-item {
          width: calc(50% - 2rem);
        }

        @media screen and (min-width: 1000px) {
          .menu-item {
            width: calc(100% / 3 - 2rem);
          }
        }
      }
    }
  }
}

.gallery-page {
  .gallery-title {
    background-size: cover;
    background-position: top;
    height: 62vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    h2 {
      font-size: 32px;
      line-height: 42px;
      font-weight: bold;
    }
  }
}

.gallery {
  background: $lightColor2;
  padding: 10px 0;

  .container {
    margin: 0 auto;
    max-width: 1200px;
    padding: 0 1rem;

    .gallery-button {
      text-align: center;
      padding-top: 30px;
      padding-bottom: 20px;

      .button {
        color: $lightColor1;
        text-transform: uppercase;
        background: $lightColor3;
        border: $lightColor3 1px solid;
        font-size: 18px;
        text-decoration: none;
        padding: 10px 20px;
        /*border-radius: 10px;*/
        margin-top: 20px;
      }
    }

    .gallery-item {
      margin: 1rem;
      box-shadow: 0.3rem 0.4rem 0.4rem rgba(0, 0, 0, 0.4);
      overflow: hidden;

      img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: transform 400ms ease-out;
      }

      img:hover {
        transform: scale(1.15);
      }

      .responsive-image {
        max-width: 100%;
      }
    }

    @media screen and (min-width: 600px) {
      .gallery-content {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;

        .gallery-item {
          width: calc(50% - 2rem);
        }

        @media screen and (min-width: 1000px) {
          .gallery-item {
            width: calc(100% / 3 - 2rem);
          }
        }
      }
    }
  }
}

.franchise-page {
  .franchise-title {
    background-size: cover;
    background-position: center;
    height: 62vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    h2 {
      font-size: 32px;
      line-height: 42px;
      font-weight: bold;
    }
  }
}

.franchise-content {
  .franchise-top {
    max-width: 800px;
    margin: 60px auto;
    padding: 0 20px;

    h3 {
      text-align: center;
    }

    p {
      margin: 2rem 0;
      font-size: 1.25rem;
      line-height: 1.7;
    }
  }

  .franchise-bottom {
    .franchise-details {
      max-width: 800px;
      margin: 60px auto;
      padding: 0 20px;

      p {
        margin: 2rem 0;
        font-size: 1.25rem;
        line-height: 1.7;
      }
    }
  }
}

.franchise-button {
  text-align: center;
  padding-bottom: 20px;

  .button {
    color: $lightColor1;
    text-transform: uppercase;
    background: $lightColor3;
    border: $lightColor3 1px solid;
    font-size: 18px;
    text-decoration: none;
    padding: 10px 20px;
    /*border-radius: 10px;*/
    margin-top: 20px;
  }
}

.franchise-form-page {
  .franchise-form-title {
    background-size: cover;
    background-position: center;
    height: 62vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    h2 {
      font-size: 32px;
      line-height: 42px;
      font-weight: bold;
    }
  }
}

.franchise-form {
  padding-top: 80px;
  background: #059fb9;
  text-align: center;

  iframe {
    width: 100%;
  }
}

.contact-page {
  .contact-title {
    background-size: cover;
    background-position: top;
    height: 62vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    h2 {
      font-size: 32px;
      line-height: 42px;
      font-weight: bold;
    }
  }
}

.contact-content {
  max-width: 800px;
  margin: 60px auto;
  padding: 0 20px;

  h3 {
    text-align: center;
  }

  p {
    margin: 2rem 0;
    font-size: 1.25rem;
    line-height: 1.7;
  }
}

.location {
  .container {
    margin: 0 auto;
    max-width: 1200px;
    padding: 0 1rem;

    .location-title {
      text-align: center;
    }

    .location-item {
      margin: 1rem;
      overflow: hidden;

      img {
        display: block;
        width: 100%;
        object-fit: cover;
      }

      .responsive-image {
        max-width: 100%;
      }

      .location-item-text {
        padding-top: 0.5rem;

        p {
          font-size: 1.25rem;
          line-height: 1.5;
        }
      }
    }

    @media screen and (min-width: 600px) {
      .location-content {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;

        .location-item {
          width: calc(50% - 2rem);
        }
      }
    }
  }
}
